<table *ngIf="employee">
  <tr>
    <td>Id</td>
    <td>{{employee.id}}</td>
  </tr>
  <tr>
    <td>Tên</td>
    <td>{{employee.name}}</td>
  </tr>
  <tr>
    <td>Tuổi</td>
    <td>{{employee.age}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{employee.status}}</td>
  </tr>
  <tr>
    <td>CreatedAt</td>
    <td>{{employee.createdAt}}</td>
  </tr>
</table>
<a class="btn btn-warning" routerLink='overview'>Overview</a>
<a class="btn btn-warning" routerLink='project'>Project</a>
<a class="btn btn-default" routerLink='/employee'>Go back</a>
<router-outlet></router-outlet>