<div class="row">
  <a [routerLink]="['/add']">Add</a>
</div>
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Age</td>
      <td>Status</td>
      <td>CreatedAt</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let em of employees">
      <td>{{em.name}}</td>
      <td>{{em.age}}</td>
      <td>{{em.status}}</td>
      <td>{{em.createdAt | date}}</td>
      <td>
        <a [routerLink]="['/detail',em.id]">Show</a>
      </td>
      <td>
        <a [routerLink]="['/edit',em.id]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngFor="let p of pages">
      <a class="page-link" [routerLink]= "['/employee']" [queryParams]='{pageNumber:p,filter:"a"}'>{{p}}</a>
    </li>
  </ul>
</nav>