<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <a [routerLink]="['/add']" class="btn btn-success">Add</a>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]='keyword' name='keyword'>
      <button class="btn btn-info" (click)='searchEm()'>Search</button>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Age</td>
      <td>Status</td>
      <td>CreatedAt</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let em of employees">
      <td>{{em.name}}</td>
      <td>{{em.age}}</td>
      <td>{{em.status}}</td>
      <td>{{em.createdAt | date}}</td>
      <td>
        <a [routerLink]="['/detail',em.id]" class="btn btn-light">Show</a>
      </td>
      <td>
        <a [routerLink]="['/edit',em.id]" class="btn btn-info">Edit</a>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delEm(em.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngFor="let p of pages">
      <a class="page-link" [routerLink]="['/employee']" [queryParams]='{pageNumber:p,filter:"a"}'>{{p}}</a>
    </li>
  </ul>
</nav>